.contenedorDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    margin: 20px auto;
    background-color: #f0f0f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.tarjetaDiv {
    width: 300px;
    background-color: #5a4e4e;
    color: #ffffff;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12) 0px 1px 3px rgba(0, 0, 0, 0.14) 0px 2px 2px rgba(0, 0, 0, 0.2); 
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    overflow: hidden;
}

.tarjetaDiv img {
    width: 90%;
    margin: 0 auto;
}

.tarjetaDiv h3 {
    font-size: 18px;
    text-align: center;
    margin: 8px 0;
    word-wrap: break-word;
    overflow: hidden;
}

.tarjetaDiv p {
    font-size: 13px;
    text-align: center;
    margin: 0;
    overflow: hidden;
    flex-grow: 1;
}

.tarjetaDiv a {

    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 13px;
    margin-top: 8px;
}




